.register-background {
  background: #ffffff;
  padding: 20px;
}
.website-register-image {
  height: 30vh;
}
.register-form-background {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-background {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: center;
}
.label {
  font-family: 'Roboto';
  color: #7b8794;
  margin-bottom: 10px;
  font-weight: 700;
}
.input {
  border: 1px solid #cbd5e1;
  outline: none;
  width: 15vw;
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #64748b;
  cursor: pointer;
}
.select {
  width: 15vw;
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.register-now-button {
  background: #2563eb;
  font-weight: 700;
  color: #ffffff;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10vw;
  border: 0px;
  border-radius: 9px;
  cursor: pointer;
}
.register-heading {
  font-family: 'Roboto';
  font-size: 45px;
  color: #334155;
  font-weight: 600;
}
.errorMsg {
  font-family: 'Roboto';
  font-weight: 700;
  color: #ff0b37;
}
